h1{
    color: lightcoral;
}
body h1{
    font-size: 40px;
    font-style: italic;
     
}
.imagenchica{
    width: 250px;
    height: 300px;
}
header{
    display: flex;
    justify-content: space-between;
}
.titulosecundario{
    display: flex;
    justify-content: center;
    background-color: lightcoral;
}
.imagenpeque{
    width: 220px;
    height: 220px;
}
.imagenpeque1{
    width: 220px;
    height: 220px;
}
.imagenpeque2{
    width: 220px;
    height: 220px
}
.imagenpeque3{
    width: 220px;
    height: 220px
}